.container {
  margin: 0 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.15);
  margin-top: 10px;
}

.step-number {
  width: 30px;
  min-width: 30px;
}

.travel {
  display: flex;
  align-items: center;
  padding: 0;
  padding: 0 15px;
  border-bottom: solid 1px #ccc;
}

.distance {
  margin-left: 10px;
}

.icon-container {
  width: 30px;
  min-width: 30px;
  height: 26px;
}

.icon {
  height: 26px;
}

.station {
  text-decoration: underline;
}

.destination {
  margin-top: 0;
  margin-left: 10px;
}
