.step-number {
  width: 75px;
  text-align: center;
}

.travel {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-left: 10px;
}

.distance {
  margin-left: 10px;
}

.icon {
  height: 32px;
}

.station {
  text-decoration: underline;
}

.destination {
  margin-top: 0;
  margin-left: 10px;
}
