@import 'src/styles/common';

.container {
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  display: block;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
}
