.container {
  padding-top: 10px;
  padding-left: 10px;
  background-color: #FFF;
  padding-bottom: 5px;

  border-bottom: solid 1px #eee;

  &:last-child {
    border-bottom: 0;
  }
}

.header {
  display: flex;
  align-items: center;
}

.thumbnail {
  width: 50px;
  min-width: 50px;
  height: 50px;
  border-radius: 50%;

  background-size: cover;
  background-position: center center;
}

.name {
  margin-left: 15px;
  flex-grow: 1;
}

.description {
  margin-left: 0;
  font-style: italic;
}

.click-arrow {
  right: 10px;
  width: 32px;
  min-width: 32px;
  height: 32px;
  margin-left: 20px;
}
