.container {
  padding: 10px;
  background-color: white;
  border-bottom: solid 1px #eee;
}

.name {
  margin-top: 0;
  margin-bottom: 8px;
}

.author {
  margin-top: 5px;
}

.statistics {
  display: flex;
}

.statistic {
  display: flex;
  align-items: center;
  margin-left: 22px;

  &:first-child {
      margin-left: 0;
  }
}

.icon {
  margin-right: 5px;
  height: 20px;
}
