@import 'src/styles/common';

.container {
  background-color: white;
  width: 100%;
  padding: 10px;
}

.name {
  font-size: 23px;
  margin: 0 0 5px 0;
}

.statistics {
  display: flex;
  margin-bottom: 5px;
}

.statistic {
  display: flex;
  align-items: center;
  margin-left: 22px;

  &:first-child {
    margin-left: 0;
  }
}

.logo {
  margin-right: 5px;
  height: 20px;
}

.type {
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }
}